

.appNavbar{
    background-color: rgba(255,255,255,.2);
    padding:.5rem;
    
}

.navbar--title{
    padding-left: 1rem;
}

.navbar--text{
    color:#f5f5f5 !important;
    /* color: #D7D7BE !important; */
}