*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.banner-div{
    width:100vw;
    height: 100vh;
    border: 1px solid red;
}

.banner--image{
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.banner--title{
    position:absolute;
    top: 3.2rem;
    left:.5rem
}