*{
    box-sizing: border-box;

  
}
/* .banner{
    width:100%;
    padding: 0;
} */


.banner-div{
    width:100vw;
    height: 100vh;
    
}

.banner--image{
    object-fit: cover;
    width: 100%;
    height: 100%;
}

/* .banner--title{
    position:absolute;
    top: 3.2rem;
    left:.5rem
} */


  .banner--text{
    /* Any lightness value below the threshold will result in white, any above will result in black */
    /* --switch: calc((var(--light) - var(--threshold)) * -100%); */
    /* color: #D7D7BE; */
    /* mix-blend-mode: screen; */
    /* color: aqua !important;; */
    color:#f5f5f5 !important;
    padding-top: 2.5rem;
    padding-left: .5rem;
  }