*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.banner-div{
    width:100vw;
    height: 100vh;
    border: 1px solid red;
}

.banner--image{
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.banner--title{
    position:absolute;
    top: 3.2rem;
    left:.5rem
}


  .banner--text{
    /* Any lightness value below the threshold will result in white, any above will result in black */
    /* --switch: calc((var(--light) - var(--threshold)) * -100%); */
    /* color: #777; */
    mix-blend-mode: screen;
    /* color: aqua !important;; */
  }