

.contact-card-holder{
    display: grid;
    width: 100vw;
    height: 100vh;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    background: black;
    
}

.contact{
    /* other base style */
    grid-row: 2/3;
    grid-column: 2/3;
  }