*,h5,p{
    margin:0;
}

h5{
    margin-bottom: 0;
}
.fixed_footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width:95vw;
}

.content{
    display:flex;
    margin: 0;
    justify-content: center;
    align-items: center;
}

.footer--socials{
    display: flex;
    justify-content:end ;
}
.socIcons{
    font-size: 2rem;
    padding: .5rem;
}