*,h5,p{
    margin:0;
}

h5{
    margin-bottom: 0;
}
.fixed_footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width:100vw;
    background: #f5f5f5;
}

.content{
    display:flex;
    padding-left: 1rem;
    margin: 0;
    justify-content: center;
    align-items: center;

}

.content--text{
    padding: 0rem .5rem;
}

.footer--socials{
    display: flex;
    justify-content:end ;
    padding-right: 2rem;
}
.socIcons{
    font-size: 2rem;
    padding: .5rem;
}